{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
        {{ form_label(form.title, 'Titre') }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="form-group">
        {{ form_label(form.slug, 'Permalien') }}
        {{ form_widget(form.slug, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.slug) }}
    </div>
    <div class="form-group">
        {{ form_label(form.content, 'Contenu') }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.content) }}
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
{{ form_end(form) }}
